<header>
  <%- include ../partials/nav %>
  <form class="logout" method="post" action="users/logout?_method=DELETE">
    <button>logout</button>
  </form>
</header>
<div class="container">

<h3>Welcome <%= user.email %></h3>
<a href ="/attractions"><button> See all attractions</button>

</div>
