
<div class="container">
<p>TEST</p>
<div id = "profile" class ="col-md-12">
  <div class ="col-md-3">
<div><img src="<%= user.image_url %>"></div>
<P>Welcome <%= user.f_name %> </p>
<a href="/attractions/"><button> See all attractions</button></a>

</div>
<div class ="col-md-4">
     <h3>  WISH LIST</h3>
</div>
<div class ="col-md-4">
     <h3>   HAVE BEEN LIST</h3>
</div>
</div>
</div>
